/* Overall Styling */
html, body {
    margin: 0;
    height: 100%;
    font-family: 'Georgia', serif;
    background: linear-gradient(140deg, white, gray, darkslategray, black);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Julius Sans One', sans-serif; */
    font-family: 'Raleway', sans-serif;
}

.line-break{
    height: 24px;
    width: 100%;
}

/* #blackout {
    height: 100%;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* Header */
#header-container{
    background-color: gray;
    /* Adds shadow only to the bottom, not the sides */
    box-shadow: 0px 1px 5px rgb(66, 66, 66);
    margin-top: 10px;
}
h1.MEUD-logo {
    font-size: 3em;
}
.MEUD-logo{
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}
.text-color-dsg{
    color: darkslategray;
}
.nav-link{
    font-family: 'Raleway', sans-serif;
}

#app-link {
    border-right: 1px solid rgb(66, 66, 66);
}
/* Enter Page */

/* Info */
.info-container {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(238, 236, 236, 0.4);
    /* border: 1px solid rgb(238, 236, 236, 0.4);
    border-radius: 4px; */
}

h3 > span.MEUD-logo{
    font-size: 32px;
}
/* Main application body */
#main-content-wrapper{
    margin-bottom: 101.5px;
}
.card-title{
    font-family: 'Raleway', sans-serif;
}

.card {
    background-color: rgb(255, 255, 255, 0.8)
}

#analyze-btn{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    background-color: white;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.filter-selector-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    width: 75%;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 4px;
    background-color: white;
}

#context-box {
    margin-bottom: 8px;
}

/* Developer page */
.dev-card{
    background-color: rgb(255, 255, 255, 0.7)
}

.dev-card:hover{
    background-color: rgb(255, 255, 255, 1);
}

.dev-img{
    position: relative;
    align-content: center;
    object-fit:cover;
    /* Need help with media resizing */
    height: 15vw;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(66, 66, 66), 0 6px 20px 0 rgb(66, 66, 66);
}

#social-links li{
    display: inline;
}

.social-icon{
    padding:2px;
}
/* Footer */
#footer-container {
    background-color: gray;
    font-size: 12px;
}
#footer-navbar{
    padding-bottom: 0px;
}
#footer-container > hr {
    margin-top: 8px;
}
#footer-container > .container{
    padding-bottom:16px;
}

.footer-nav-item {
    padding-right: 0px;
}