* {
  box-sizing: border-box;
}

/* Overall Styling */
html {
  height: -100%;
}

body {
  font-family: "Georgia", serif;
  height: -100%;
  margin: 0;
  background: linear-gradient(140deg, white, #4B4B4B, darkslategray, black);
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

a {
  color: black;
}

.line-break {
  width: 100%;
  height: 24px;
}

/* Enter page */
#blackout {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0);
}

#enter-logo {
  height: 650px;
}

#enter-main {
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2.5s; /* Firefox < 16 */
      -ms-animation: fadein 2.5s; /* Internet Explorer */
       -o-animation: fadein 2.5s; /* Opera < 12.1 */
          animation: fadein 2.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#slogan-text {
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 32px;
  bottom: 100px;
}

#enter-btn {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
}

#enter-btn:hover {
  color: white;
  background-color: #424242;
  box-shadow: 0 1px 5px 0 rgb(66, 66, 66), 0 1px 5px 0 rgb(66, 66, 66);
}

/* Header */
#header-container {
  border-bottom: 2px solid darkslategrey;
  background: linear-gradient(140deg, black, #424242 95%);

  /* Adds shadow only to the bottom, not the sides */
  box-shadow: 0 1px 5px rgb(66, 66, 66);
}
h1.MEUD-logo {
  font-size: 3em;
}
.MEUD-logo {
  font-family: "Bungee Hairline", cursive;
  font-weight: bold;
}
.text-color-dsg {
  color: darkslategray;
}
/* "Champagne" text color */
.text-color-cham {
  color: #F5E2C8;
}
.nav-link {
  font-family: "Raleway", sans-serif;
}

#mission-link {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* Info */
.info-container {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgb(238, 236, 236, 0.5);
  /* border: 1px solid rgb(238, 236, 236, 0.4);
    border-radius: 4px; */
}

h3 > span.MEUD-logo {
  font-size: 32px;
}

/* Main application body */
#main-content-wrapper {
  min-height: 654px;
  max-height: 100%;
}

.centered-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#content-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0;
  padding-left: 0;
  border-top: 0.3px solid gray;
  border-bottom: 0.3px solid gray;
  background-color: rgb(66, 66, 66, 0.33);
}

.card-title {
  font-family: "Raleway", sans-serif;
}

.card {
  border-radius: 0;
  background-color: rgb(255, 255, 255, 0.7);
}

#analyze-btn {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color: white;
}

#analyze-btn:hover {
  color: white;
  background-color: #424242;
  box-shadow: 0 1px 5px 0 rgb(66, 66, 66), 0 1px 5px 0 rgb(66, 66, 66);
}

#audio-upload-btn {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color: white;
}

#audio-upload-btn:hover {
  color: white;
  background-color: #424242;
  box-shadow: 0 1px 5px 0 rgb(66, 66, 66), 0 1px 5px 0 rgb(66, 66, 66);
}


ul {
  margin-left: 2px;
  padding-left: 0;
  list-style-type: none;
}
#tone-selectors {
  margin-bottom: 0;
  margin-left: 0;
}

/* Filter colors: */
#filter-analytical:hover {
  color: white;
  background-color: cornflowerblue;
}
#filter-anger:hover {
  color: white;
  background-color: red;
}
#filter-confident:hover {
  color: white;
  background-color: purple;
}
#filter-fear:hover {
  color: white;
  background-color: green;
}
#filter-joy:hover {
  color: white;
  background-color: gold;
}
#filter-sadness:hover {
  color: white;
  background-color: slateblue;
}
#filter-tentative:hover {
  color: white;
  background-color: aquamarine;
}

.filter-selector-btn {
  font-family: "Raleway", sans-serif;
  width: 80%;
  margin-bottom: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  box-sizing: content-box;
}

.filter-selector-btn:hover {
  box-shadow: 0 1px 5px 0 rgb(66, 66, 66), 0 1px 5px 0 rgb(66, 66, 66);
}

#context-box {
  margin-bottom: 8px;
}
/* Context highlight colors high */
.highlight-analytical-high {
  color: white;
  background-color: cornflowerblue;
}
.highlight-anger-high {
  color: white;
  background-color: rgb(255,0,0, 1);
}
.highlight-confident-high {
  color: white;
  background-color: purple;
}
.highlight-fear-high {
  color: white;
  background-color: green;
}
.highlight-joy-high {
  color: white;
  background-color: gold;
}
.highlight-sadness-high {
  color: white;
  background-color: slateblue;
}
.highlight-tentative-high {
  color: white;
  background-color: aquamarine;
}
/* Context highlight colors medium */
.highlight-analytical-medium {
  color: white;
  background-color: rgb(100, 149, 237, 0.5);
}
.highlight-anger-medium {
  color: white;
  background-color: rgb(255,0,0, 0.5);
}
.highlight-confident-medium {
  color: white;
  background-color: rgb(128, 0, 128, 0.5);
}
.highlight-fear-medium {
  color: white;
  background-color: rgb(0, 128, 0, 0.5);
}
.highlight-joy-medium {
  color: white;
  background-color: rgb(255, 215, 0, 0.5);
}
.highlight-sadness-medium {
  color: white;
  background-color: rgb(106, 90, 205, 0.5);
}
.highlight-tentative-medium {
  color: white;
  background-color: rgb(127, 255, 212, 0.5);
}
/* Context highlight colors low */
.highlight-analytical-low {
  color: white;
  background-color: rgb(100, 149, 237, 0.3);
}
.highlight-anger-low {
  color: white;
  background-color: rgb(255,0,0, 0.3);
}
.highlight-confident-low {
  color: white;
  background-color: rgb(128, 0, 128, 0.3);
}
.highlight-fear-low {
  color: white;
  background-color: rgb(0, 128, 0, 0.3);
}
.highlight-joy-low {
  color: white;
  background-color: rgb(255, 215, 0, 0.3);
}
.highlight-sadness-low {
  color: white;
  background-color: rgb(106, 90, 205, 0.3);
}
.highlight-tentative-low {
  color: white;
  background-color: rgb(127, 255, 212, 0.3);
}

/* Mission page  */
#mission-statement-container {
  padding: 2em;
}

/* Developer page */
#content-wrapper-devs {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 0;
  padding-left: 0;
  border-top: 0.3px solid gray;
  border-bottom: 0.3px solid gray;
  background-color: rgb(66, 66, 66, 0.33);
}

.dev-card {
  background-color: rgb(255, 255, 255, 0.7);
}

.dev-card:hover {
  border: 1px solid #EDCB96;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 4px 10px 0 rgb(66, 66, 66), 0 2px 20px 0 rgb(66, 66, 66);
}


.dev-img {
  position: relative;
  align-content: center;
  /* Need help with media resizing */
  height: 100%;
  width: 100%;
  border: 6px solid #F5E2C8;
  border-radius: 50%;
  object-fit: cover;
  /* box-shadow: 0 4px 8px 0 rgb(66, 66, 66), 0 2px 20px 0 rgb(66, 66, 66); */
}

#social-links li {
  display: inline;
}

.social-icon {
  padding: 3px;
  height: 10%;
  width: 20%;
}

/* Footer */
#footer-container {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 12px;
  background-color: #4B4B4B;
}
#footer-navbar {
  padding-bottom: 0;
}
#footer-container > hr {
  margin-top: 8px;
}
#footer-container > .container {
  padding-bottom: 16px;
}

.footer-nav-item {
  padding-right: 0;
}

/* Media responsiveness */
@media only screen and (max-width: 992px) {
  /* Stuff here, reg css */
  #app-result-card {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 768px) {
  /* Stuff here, reg css */
  #dev-card-3 {
    margin-top: 24px;
  }
  #dev-card-4 {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 576px) {
  /* Stuff here, reg css */
  #dev-card-1 {
    margin-top: 24px;
  }
  #dev-card-2 {
    margin-top: 24px;
  }
}

/* Loader */
.loader{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
  background:rgba(255, 255, 255, 0);
	filter: blur(4px) contrast(20);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#4b4b4b;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#ffffff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}